@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Montserratbold";
    src: url("../assets/fonts/Montserrat-Bold.ttf");
  }

  @font-face {
    font-family: "Montserratregular";
    src: url("../assets/fonts/Montserrat-Regular.ttf");
  }

  .file-name svg{
    width: 0.5rem;
    margin-right: 0.5rem;
  }


  .background-banner{
    background:linear-gradient(0deg, #38B6FF -18.4%, #2561C5 19.88%, #163872 120.3%);
  }

  .btn-primary{
    @apply bg-white dark:bg-[#151719] px-6 py-2 rounded font-montserratbold text-primary hover:text-secondary hover:transition hover:ease-linear disabled:bg-third disabled:text-white;
  }
  .btn-secondary{
    @apply bg-primary px-6 py-2 rounded font-montserratbold text-white  hover:transition hover:ease-linear hover:opacity-75 disabled:bg-third;
  }
  .btn-third{
    @apply  px-6 py-2 rounded font-montserratbold text-primary  hover:transition hover:ease-linear hover:opacity-75 disabled:bg-third;
  }
  .btn-cancel{
    @apply bg-red-600 px-6 py-2 rounded font-montserratbold text-white  hover:transition hover:ease-linear hover:opacity-75 disabled:bg-third;
  }
  .bullet-status{
   background-color: rgba(193, 193, 193, 0.8);
    @apply  px-3 py-1 rounded ml-3 mt-3;
  }

  table{
    @apply dark:text-white;
    box-shadow: 0px 0px 10px rgba(193, 193, 193, 0.5);
    overflow: hidden;
    

  }
  .nice-dates-day.-selected {
  color: #2561C5!important;
  pointer-events: all !important;
  cursor: pointer !important;
}
.nice-dates-day:before{
  background-color: #2561C5!important;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body {
  @apply dark:bg-[#151719] bg-[#fdfdfd];

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.preloader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f7f7f7;
  z-index: 999999;
}

.preloader {
  width: 50px;
  height: 50px;
  display: inline-block;
  padding: 0;
  text-align: left;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
}

.preloader span {
  @apply bg-primary;
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  
  -webkit-animation: preloader 1.3s linear infinite;
  animation: preloader 1.3s linear infinite;
}

.preloader span:last-child {
  animation-delay: -0.8s;
  -webkit-animation-delay: -0.8s;
}

@keyframes preloader {
  0% {
    transform: scale(0, 0);
    opacity: 0.5;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@-webkit-keyframes preloader {
  0% {
    -webkit-transform: scale(0, 0);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1, 1);
    opacity: 0;
  }
}

.wallet-drawer{
  position: fixed;
  right: 0px;
  bottom: 0px;
  width: 420px;
  z-index: 90;
  height: 100%;

  @apply dark:bg-[#1a1d1e] bg-white border border-[#e5e8eb] dark:border-r-0 dark:border-t-0 dark:border-b-0 dark:border-[#323739];
  overflow: auto;
  filter: drop-shadow(rgba(0, 0, 0, 0.25) 0px 4px 4px);
  transition: transform 1s ease 0s, opacity 0.3s ease 0s;
  visibility: visible;
  transform: translate3d(0px, 0px, 0px);
  opacity: 1;
  transform: translate(100%, 0);
}

@media (prefers-color-scheme: dark) {
.ReactModal__Overlay{
    background-color:#000000bf!important;
  }
}

.wallet-list{
  border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: none;
    border: 1px solid rgb(229, 232, 235);
    border-radius: 10px;
    margin: 0px;
    padding-left: 0px;
    list-style-type: none;
    width: 100%;
}

.wallet-item{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}

.wallet-option{
  @apply dark:text-white dark:hover:bg-[#151719] dark:border-none;
  background-image: none;
  border-radius: 10px;
  border:none;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
}

.wallet-option:hover{
}

.radio-item {
  display: inline-block;
  position: relative;
  padding: 0 6px;
  margin: 10px 0 0;
}

.radio-item input[type='radio'] {
  display: none;
}

.radio-item label {
  @apply font-montserratregular text-black  dark:text-white;
  font-weight: normal;
  cursor: pointer;
}

.radio-item label:before {
  @apply border-primary border-[2px];
  content: " ";
  display: inline-block;
  position: relative;
  top: 5px;
  margin: 0 5px 0 0;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: transparent;
}

.radio-item input[type=radio]:checked + label:after {
  width: 12px;
  height: 12px;
  border-radius: 15px;
  position: absolute;
  top: 9px;
  left: 10px;
  content: " ";
  display: block;
  @apply border-primary border-[2px] bg-primary;
}

.-open{
  position:relative!important;
}

input, select {
  @apply rounded dark:bg-inherit;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}
.nice-dates-grid{
  height: 310px!important;

}

.nice-dates{
  position: absolute;
    width: 100%;
}

.nice-dates-day{
  height: 50px!important;
}

.nice-dates-popover{
  width: 60%!important;
}

.basic:before {
  content: '';
  display: block;

  height: 20px;
  width: 20px;
  -webkit-animation: spin .8s infinite linear;
          animation: spin .8s infinite linear;
  border: 4px white solid;
  border-left-color: #2B70E4;
  border-radius: 100%; }

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.day-icon-inner{
  @apply fill-sky-400/20 stroke-sky-500;
}

.day-icon-outside{

  @apply stroke-sky-500;
}

.dark-icon{
  @apply fill-slate-400 dark:fill-slate-500;
}

.question-icon{
  @apply  fill-sky-500 dark:fill-slate-500 }
.stroke-add{
  @apply dark:!stroke-[#151719] !stroke-[#fdfdfd];
}
.react-player__preview{
  @apply bg-slate-800;
  pointer-events:none;
}

.react-player__shadow, .react-player__play-icon{
  display: none!important;}

  .form-tooltip svg{
    @apply w-[15px] h-[15px] ml-1;
  }

.ant-picker-input input {
  @apply  !text-secondary placeholder:!text-secondary;
}

.ant-picker-suffix, .ant-picker-range-separator{
  @apply !hidden;
}

.ant-btn-primary{
  @apply !bg-primary;
}

.Dropdown-control{
  @apply !text-secondary placeholder:!text-secondary !bg-transparent !border-none !p-0 w-[80px]; 
}

.Dropdown-arrow{
  @apply  !mt-[-4px] !absolute !right-[20px] ;
}

.Dropdown-menu{
  @apply !text-secondary !border-secondary ml-[-0.5rem];
}